.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  label {
    font-weight: 600;
  }
  .error {
    color: red;
    font-size: 12px;
  }
  .ant-table-content {
    min-height: 400px;
  }
  .ant-table-tbody {
    background-color: #fff;
  }
}
